@model IEnumerable<ProductFirstVersion.Models.Store>

@{
    ViewBag.Title = "Store";
}

<h2>Store</h2>

<p>
    @Html.ActionLink("Create New", "CreateStore")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditStore", new { id=item.StoreId }) |
            @Html.ActionLink("Details", "StoreDetails", new { id=item.StoreId }) |
            @Html.ActionLink("Delete", "DeleteStore", new { id=item.StoreId })
        </td>
    </tr>
}

</table>
